<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../lib/vue.min.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        table {
            width: 100%;
            border: 1px solid #333333;
        }

        thead {
            width: 100%;

        }

        tr {
            border-bottom: 1px solid #333;
            width: 100%;
        }

        th {
            height: 100%;
            width: 25%;
            text-align: left;
        }
    </style>
</head>

<body>
    <div id="app">

        
        <div class="panel panel-primary">
              <div class="panel-heading">
                    <h3 class="panel-title">添加品牌</h3>
              </div>
              <!-- form-inline 可以让内容并排放 -->
              <div class="panel-body form-inline">
                <label>
                    Id:
                    <input type="text" class="form-control" v-model="id">
                </label>
                <label>
                    Name:
                    <input type="text" class="form-control" v-model="name" @keyup.enter='add'>
                </label>

                <!-- 在Vue中，使用事件绑定机制，为元素指定处理函数的时候，如果加了小括号，就可以给函数传参了 -->
                <input type="button" value="添加" class="btn btn-primary" @click="add()">

                <label>
                    搜索名称关键字:
                    <!-- Vue中所有的指令，在调用的时候，都以 v- 开头 -->
                    <input type="text" class="form-control" v-model="keywords" id="search" v-focus v-color="'blue'">
                </label>
              </div>
        </div>
        
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <!-- 之前，v-for中的数据，都是直接从data上的list中直接渲染过来的 -->
                <!-- 现在，自定义了一个search方法，同时，把所有的关键字，通过传参的形式，传递给了search方法 -->
                <!-- 在searvh方法内部，通过执行for循环，把所有符合 搜索关键字的数据，保存带一个新数组中，返回 -->
                <tr v-for="item in search(keywords)" :key="item.id">
                    <td>{{item.id}}</td>
                    <td v-text="item.name"></td>
                    <td>{{item.Ctime |dateFormat('')}}</td>
                    <td>
                        <a href="" @click.prevent='del(item.id)'>删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="app2">
        <h3 v-color="'pink'" v-fontweight="900" v-fontsize="'50px'">{{dt | dateFormat}}</h3>
    </div>
    <script>

        //全局的过滤器，进行事件的格式化
        //所谓的全局过滤器，就是所有的VM实例都共享的
        Vue.filter('dateFormat',function(dateStr,pattern){
            //根据给定的时间字符串，得到特定的时间
            var dt=new Date(dateStr);
            //yyyy-mm-dd
            var y=dt.getFullYear();
            var m=dt.getMonth()+1;
            var d=dt.getDate();
            // return y+'-'+m+'-'+d
            // return `${y}-${m}-${d}`;

            if(pattern.toLowerCase()==='yyyy-mm-dd'){
                return `${y}-${m}-${d}`;
            }else{
                var hh=dt.getHours();
                var mm=dt.getMinutes();
                var ss=dt.getSeconds();

                return `${y}-${m}-${d} ${hh}:${mm}:${ss}`;
            }
        })

        //使用Vue.directive()定义全局的指令
        //其中：参数1:指令的民称，注意，在定义的时候，指令的名称前面，不需要加 v- 前缀，
        //但是在调用的时候，必须在指令名称前 加上v-前缀来进行调用
        //参数2:是一个对象，这个对象身上，有一些指令相关的函数，这些函数可以在特定的阶段，执行相关的操作
        Vue.directive('focus',{
            bind:function(el){   //每当指令绑定到元素上的时候，会立即执行这个bind函数，只执行一次
                //在每个函数中，第一个参数，永远是el，表示被绑定了指令的那个元素，这个el参数，是一个原生的js对象
                //在元素 刚绑定了指令的是欧，还没有插入到DOM中区，这时候，调用focus方法没有作用
                //因为，一个元素，只有插入DOM之后，才能获取焦点
                //el.focus();
            },
            inserted:function(el){   //inserted 表示元素插入到DOM中的时候，会执行insterted函数【触发一次】
                el.focus()
                //和JS行为有关的操作，最好在instered中区执行，防止js行为不生效
            },
            updated:function(el){   //当VNode更新的时候，会执行updated，可能会触发多次

            }
        })

        //自定义一个设置字体颜色的指令
        Vue.directive('color',{
            //样式，只要通过指令绑定给了元素，不管这个元素有没有被插入到页面中去，这个元素肯定有了一个内联的样式
            //将来元素肯定会显示到页面中，这时候，浏览器的渲染引擎必然会解析样式，应用给这个元素
            bind:function(el,binding123){
                // el.style.color='red';
                //Vue的自定义指令
                console.log(binding123.value);
                console.log(binding123.expression);
                //和样式相关的操作，一般都可以在bind执行
                el.style.color=binding123.value;
            }
        })

        var vm = new Vue({
            el: '#app',
            data: {
                id:'',
                name:'',
                keywords:'',//搜索关键字
                list: [
                    { id: 1, name: '奔驰', Ctime: new Date() },
                    { id: 2, name: '宝马', Ctime: new Date() },
                ]
            },
            methods: {
                add() {  //添加的方法
                    //分析：
                    //1.获取到id和name。直接从data上面获取
                    //2.阻止出一个对象
                    //3.把这个对象，调用数组的相关方法，添加到当前data上的list中
                    //4.在Vue中，已经实现了数据的双向绑定，每当我么你修改了data中的数据，Vue会默认监听到数据的变动，自动把最新的数据，应用到页面上
                    //5.当我们意识到上面的第四步的时候，就证明已经入门Vue，更多的是进行VM中Model数据的操作，同时，在操作Model数据的时候，指定的业务逻辑操作
                    var car = { id: this.id, name: this.name, Ctime: new Date() };
                    this.list.push(car);
                    this.id = this.name = '';
                },
                del(id){  //根据Id删除数据
                    //1.如何根据Id，找到要删除这一项的索引
                    //2.如果找到了索引，直接调用数组的splice方法
                    // this.list.some((item,i)=>{
                    //     if(item.id==id){
                    //         this.list.splice(i,1);
                    //         //在数组的some方法中，如果return true，就会立即种植这个数组的后续循环
                    //         return true;
                    //     }
                    // })
                    var index=this.list.findIndex(item =>{
                        if(item.id==id){
                            return true;
                        }
                    })
                    console.log(index);
                    this.list.splice(index,1);
                },
                search(keywords){//根据关键字，进行数据的搜索
                    // var newList=[];
                    // this.list.forEach(item =>{
                    //     if(item.name.indexOf(keywords)!=-1){
                    //         newList.push(item);
                    //     }
                    // })
                    // return newList;

                    //注意：forEach some filter findIndex 这些都属于数组的新方法，
                    //都会对数组中的每一项，进行遍历，执行相关的操作；
                    var newList=this.list.filter(item =>{
                        //在ES6中，为字符串提供了一个新的方法，叫做String.prototype.includes('要包含的字符串')
                        //如果包含，则返回true,否则返回false
                        if(item.name.includes(keywords)){
                            return item;
                        }
                    })
                    return newList;
                }
            }
        });

        //如何定义一个私有的过滤器
        var vm2 = new Vue({
                el: '#app2',
                data: {
                    dt: new Date()
                },
                methods: {

                },
                filters: {//定义私有过滤器   过滤器有两个条件 【过滤器名称 和 处理函数】
                    //过滤器调用的时候，采用就近原则，如果私有过滤器和全局过滤器的名称一致，这时候 优先调用私有过滤器
                    dateFormat: function (dateStr, pattern='') {
                        var dt = new Date(dateStr);
                        //yyyy-mm-dd
                        var y = dt.getFullYear();
                        //padStart方法第一个数字定义最大长度，第二个数字表示当字符串的长度不够最大长度时，则在最开始补上一个0，相对应的还有partEnd方法
                        //padStart 和 padEnd 都只能用于字符串
                        var m = (dt.getMonth() + 1).toString().padStart(2,'0');
                        var d = dt.getDate().toString().padStart(2,'0');

                        if (pattern.toLowerCase() === 'yyyy-mm-dd') {
                            return `${y}-${m}-${d}`;
                        } else {
                            var hh = dt.getHours().toString().padStart(2,'0');
                            var mm = dt.getMinutes().toString().padStart(2,'0');
                            var ss = dt.getSeconds().toString().padStart(2,'0');

                            return `${y}-${m}-${d} ${hh}:${mm}:${ss}~~~~~~`;
                        }
                    }
                },
                directives:{  //定义私有指令
                    'fontweight':{ //设置字体粗细
                        bind:function(el,binding){
                            el.style.fontWeight=binding.value;
                        }
                    },
                    'fontsize':function(el,binding){//注意：这个function等同于把代码写到了bind和update中去
                        //注意fontSize需要使用驼峰命名法
                        el.style.fontSize=parseInt(binding.value)+'px';
                    }
                },
            })
        //过滤器的定义语法
        //Vue.filter('过滤器的名称',function(){})

        //过滤器的function，第一个参数，已经被规定死了，永远都是过滤器管道符前面传递过来的数据
        // Vue.filter('过滤器的名称',function(data){
        //     return data+"123"
        // })

    </script>
</body>

</html>


<!-- 过滤器调用时的格式  {{name | 过滤器的名称 }}-->