*{
    margin: 0;
    padding: 0;
}
.activity-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    left: 4.8%;
    width: 95.2%; 
}
.activity-content-top{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 58vh;
}
.activity-top-content{
    display: flex;
    width: 92%;
    height: 90%;
}
.activity-img{
    height:100%;
    width: 43%;
}
.activity-img img{
    width: 100%;
    height: 100%;
}
.activity-introduce{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-left: 2%;
    width: 57%;
    height: 100%;
}
.activity-introduce-title{
    width: 100%;
    font-size: 1.5rem;
}
.lie-line{
    width: 100%;
}
.activity-introduce-lie{
    margin-top: 1%;
    width: 100%;
}
.lie-line-left{
    color: #b2bec3;
    font-size: 0.8rem;
}
.lie-line-right{
    font-size: 0.8rem;
}
.line-second-color{
    color: #d36f16;
}
.activity-introduce-text{
    margin-top: 1%;
    min-height: 120px;
    line-height: 22px;
    text-align: justify;
}
.activity-introduce-text span{
    color: #666666;
    font-size: 0.8rem;
}
.activity-introduce-boottom{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activity-introduce-btn{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 55%;
}
.up-btn{
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 100%;
    background: #ffe300;
    border: 1px solid #ffe300;
}
.up-btn span{
    color: #666666;
    font-size: 0.9rem;
}
.recommend-btn{
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 100%;
    border: 1px solid #666666;
}
.recommend-btn span{
    color: #666666;
    font-size: 0.9rem;
}
.activity-introduce-interaction{
    color: #666666;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: -2%;
    margin-top: 3%;
}
.activity-number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
}
.activity-number i{
    cursor: pointer;
    color: #b2bec3;
    font-size: 0.5rem;
}
.activity-number span{
    color: #b2bec3;
    margin-left: 5%;
    font-size: 0.5rem;
}
.activity-number:first-child{
    border-right: 1px solid #b2bec3;
}
.activity-number:nth-child(2){
    border-right: 1px solid #b2bec3;
}