<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/animate.min.css">
    <style>
        body{
            overflow: hidden;
        }
    </style>
    <script src="../lib/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <input type="button" value="切换" @click="flag=!flag">
        <!-- 使用transition元素，把需要被控制的动画元素包裹进来 -->
        <!-- transition是Vue官方提供的 -->
        <!-- <transition enter-active-class="animated bounceIn" leave-active-class="animated bounceOut" :duration="200">
            <h3 v-if="flag">这是一个H3</h3>
        </transition> -->
        <transition enter-active-class="animated bounceIn" leave-active-class="animated bounceOut" :duration="{enter:200,leave:1000}">
            <h3 v-if="flag">这是一个H3</h3>
        </transition>
        
    </div>
    <script>
        var vm=new Vue({
            el:"#app",
            data:{
                flag:false
            },
            methods:{

            }
        });
    </script>
</body>
</html>